<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <section class="hero is-bold" >
        <div class="hero-body" id="titlebar">
            <div class="container" style="display:flex;">
                <h1 class="title" style="color:white;width:41%;padding-top:15px;">
                    <b>WHAT'S THE WEATHER LIKE...?</b>
                </h1>
                <div style="width:20%;">
                    <img src="../static/images/thinking.png" style="padding-left:10px;">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="City Name" style="text-transform: capitalize;">
                            </div>
                            <div class="control">
                                <button class="button is-info" id="add_city">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'add_del' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'add_del' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline" >
                {% for weather in weather_data %}
                    
                <div class="column is-one-third">
                    
                    <div class="wrapper">
                        <article class="media" style="padding:20px;">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content" id="city_name">
                                <div class="content">
                                    <p>
                                        <span class="title" style="color:white;"><b>{{ weather.city }}</b></span>
                                        <br>
                                        <span class="subtitle" style="color:white;">{{ weather.temperature }}° C</span>
                                        <br>
                                        <span class="subtitle" style="color:white;"><b>Humidity - </b>{{ weather.humidity }}</span>
                                        <br>
                                        <span class="subtitle" style="color:white;"><b>Pressure - </b>{{ weather.pressure }} hPa</span>
                                        <br>
                                        <span class="subtitle" style="color:white;"><b>Wind Speed - </b>{{ weather.wind }} km/h</span>
                                        <br> <p style="color:white;">{{ weather.description }}</p>
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                               <a href=" {{ url_for('delete_city', name=(weather.city)) }}"> 
                                   <button class="delete"></button>
                               </a>
                            </div>
                        </article>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>